.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.grid-cell {
    flex: 1 1 auto;
    border: solid 0.2px black;
    min-width: 0;
    min-height: 0;
}

.grid-row {
    flex: 1 1 auto;
    display: flex;
    min-width: 0;
    min-height: 0;
}

